.container {
  display: flex;
  gap: 5px;
  padding: 8px 12px;
  font-size: 10px;
  align-items: center;
}

.stat {
  display: flex;
  align-items: center;
  gap: 8px;
}

.label {
  color: var(--textColor);
  opacity: 0.7;
  font-weight: 500;
}

.count {
  color: var(--textColor);
  font-weight: 500;
  font-size: 10px;
}

.divider {
  width: 1px;
  height: 10px;
  background-color: var(--softTextColor);
  opacity: 0.3;
}

@media screen and (max-width: 640px) {
  .container {
    font-size: 10px;
    padding: 8px 12px;
    gap: 10px;
  }

  .count {
    font-size: 10px;
  }
}
