.container {
  flex: 5;
}

.title {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
.mainTitle {
  font-size: large;
  margin-right: 20px;
}
.subTitle {
  font-size: small;
  color: gray;
}
