.container {
  flex: 5;
}

.posts {
  display: grid;
  gap: 0;
}

@media screen and (min-width: 640px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .posts {
    grid-template-columns: repeat(3, 1fr);
  }
}
