:root {
  --bg: #fdfaf5;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: var(--font-noto-sans-kr), sans-serif;
}

html,
body {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.dark {
  --bg: #0f172a;
  --textColor: #ddd;
  --softBg: #1f273a;
  --softTextColor: #a6a6a6;
}

.light {
  --bg: #fdfaf5;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}

.container {
  min-height: 100vh;
  max-width: 100vw;
  margin: 0 auto;
  width: 100%;
  background-color: var(--bg);
  color: var(--textColor);
}

.wrapper {
  width: 100%;
  padding: 0 5vw;
  margin: 0 auto;
}

@media screen and (min-width: 479px) {
  .wrapper {
    max-width: 640px;
    padding: 0 2;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    max-width: 840px;
    padding: 0 40px;
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {
    max-width: 1024px;
    padding: 0 80px;
  }
}
