.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  position: relative;
}

.logo {
  flex: 1;
  text-align: left;
  font-size: 36px;
  font-weight: bold;
  font-family: "Satoshi", sans-serif;
  margin-right: 20px;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
  position: relative;
}

.link {
  font-size: medium;
}

.burger {
  width: 20px;
  height: 16px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  display: none;
}

.line {
  width: 100%;
  height: 2px;
  background-color: var(--textColor);
}

.responsiveMenu {
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  background-color: var(--bg);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  z-index: 999;
}

.burgerLink {
  font-size: medium;
}

@media screen and (max-width: 1280px) {
  .logo {
    font-size: 32px;
  }
  .links {
    font-size: 18px;
    gap: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .logo {
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .burger {
    display: flex;
  }
  .logo {
    font-size: 24px;
  }
  .link {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .burger {
    display: flex;
  }
  .links {
    justify-content: flex-end;
  }
  .link {
    display: none;
  }
}
