.container {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--softTextColor);
  width: 100%;
}

.desc {
  font-size: small;
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 1024px) {
}
