/* .title {
  background-color: coral;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-transform: capitalize;
} */

.title {
  color: #ff7f50;
  padding: 20px;
  text-align: center;
  text-transform: capitalize;
  font-size: 4rem;
  font-weight: 1000;
  letter-spacing: 1px;
  position: relative;
}

.content {
  display: flex;
  gap: 50px;
}
